modules = ["nodejs-24", "python-base-3.13", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[objectStorage]
defaultBucketID = "replit-objstore-5b4d1f99-096d-42da-b96f-6744becb7ed4"

[userenv]

[userenv.shared]
VAPID_PUBLIC_KEY = "BCN2omgevVbSCVxX5V9zvUDdaPdDWzdB4zzYTpIzgLgsPWm5bT-8KsJ9dpswPmB5M0wJrTMUYtJHUqDF_h5Dgp4"
VAPID_PRIVATE_KEY = "QIJwMgWvT-ZL50HG5eQ2pHfzx1LB0m2Eital8FEFNE8"
VAPID_SUBJECT = "mailto:admin@aifunnel.ao"
PUBLIC_BASE_URL = "https://app.linkealls.com"
